{{ define "cell" }}
    <span class="status">
        {{- if gt .failed_leaves 0 -}}
            ❌ 
        {{- else if gt .skipped_leaves 0 -}}
            ⏭️ 
        {{- else -}}
            ✅ 
        {{- end -}}
    </span>

    <ul class="results" style="list-style-type: none; padding: 0; display: flex; align-items: center; margin: 0;">
        {{- if gt .failed_leaves 0 -}}
            <li class="failed">{{ .failed_leaves }}</li>
        {{- end -}}

        {{- if gt .skipped_leaves 0 -}}
            <li class="skipped">{{ .skipped_leaves }}</li>
        {{- end -}}

        {{- if gt .passed_leave 0 -}}
            <li class="passed">{{ .passed_leave }}</li>
        {{- end -}}
    </ul>
{{ end }}

<table class="dashboard-table">
    <thead>
        <tr>
            <th>Implementation</th>
            {{ range $implementation, $versions := $.Site.Data.testruns }}
                {{ range $version := $versions }}
                <th>{{ $implementation }}</th>
                {{ end }}
            {{ end }}
        </tr>
        <tr>
            <th>Version</th>
            {{ range $implementation, $versions := $.Site.Data.testruns }}
                {{ range $version := $versions }}
                <th>{{ $version.version }}</th>
                {{ end }}
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range $name, $content := $.Site.Data.testroots }}
        <tr>
            <th scope="row">{{ $name }}</th>
            {{ range $implementation, $versions := $.Site.Data.testruns }}
                {{ range $version := $versions }}
                <td>
                    {{ if in $content.versions $version.version }}
                        {{ template "cell" (index $.Site.Data "testresults" $implementation $version.version $content.full_name) }}
                    {{ else }}
                        (missing)
                    {{ end }}
                </td>
                {{ end }}
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
